<div id="article_wrap">
  <div id="article_list">
    <% @articles.reverse_each do |article| %>
      <div>
        <p><%= current_user %></p>
        <h2><%= link_to article.title, article %></h2>
        <p><%= article.created_at %></p>


      </div>
    <% end %>
  </div>
</div>

<div id="article_wrap">
  <%= render 'articles/ranking' %>
</div>
