<header>
  <p id="logo"><a href="/">RailsCamp<span>Blog</span></a></p>
  <nav>
    <ul>
       <li><%= link_to "ユーザ登録", "#" %></li>
       <li><%= link_to "ログイン", "#" %></li>
       <div class="clear"></div>
    </ul>
  </nav>
  <div class="clear"></div>
</header>